[NetDev]
Name = {{ wg_if }}
Kind = wireguard
Description = {{ wg_desc }}

[WireGuard]
PrivateKey = {{ wg_private_key.stdout_lines[0] }}
ListenPort = {{ wg_port }}

{% if wg_peers is defined %}
{% for wg_peer in wg_peers %}
[WireGuardPeer]
PublicKey = {{ wg_peer.pubkey }}
{% for net in wg_peer.allowed_nets %}
AllowedIPs = {{ net }}
{% endfor %}
{% if wg_peer.ip is defined %}
Endpoint = {{ wg_peer.ip }}:{{ wg_peer.port }}
{% endif %}
{% endfor %}
{% endif %}
